---
subject: [SUJET]
base: https://mail-cd.inspire-telecom.com/[ID]/
---
<img src="{{base}}assets/img/head.jpg">

<spacer size="16"></spacer>

<row>
  <columns>
    <h3 class="text-center">Administrateur</h3>
    <p class="text-center">Associatif | Responsabilités | Vision d’entreprise</p>
  </columns>
</row>

<hr/>

<row>
  <columns>
    <spacer size="16"></spacer>
    <p class="text-center lead">
      [TEST]
    </p>
    <spacer size="16"></spacer>
    <center>
      <button href="https://inspire-telecom.typeform.com/to/XQxnSE" class="large small-expanded">Postuler ↣</button>
    </center>
  </columns>
</row>

<spacer size="16"></spacer>

{{> administrateurs}}
