---
subject: [SUJET]
base: https://mail-cd.inspire-telecom.com/[ID]/
---
<spacer size="16"></spacer>

<center>
  <img src="{{base}}assets/img/[IMAGE].png">
</center>

<spacer size="16"></spacer>

<row>
  <columns>
    <h3 class="text-center">Projet <em>[NOM]</em></h3>
    <p class="text-center lead">Compétences [COMP]</p>
    <p class="text-center">[DUREE] | Démarrage dans [TEMPS] | Rémunéré</p>
  </columns>
</row>

<hr>

<row>
  <columns>
    <spacer size="16"></spacer>
    <p class="text-center lead">
      [TEXT]
    </p>
    <spacer size="16"></spacer>
    <center>
      <button href="https://inspire-telecom.typeform.com/to/XQxnSE" class="large small-expanded">Postuler ↣</button>
    </center>
  </columns>
</row>

<spacer size="16"></spacer>

{{> consultants}}
