<row>
  <columns small="12" large="10" class="large-offset-1">
    <callout class="primary">
      <p>
        <b>Cette annonce est une proposition de poste en tant qu’administrateur.</b><br/>
        L’administrateur est intégré à l’association et s’occupe de par son poste de la gestion et de la promotion d’Inspire. Il fait partie de l’équipe d’Inspire. <em><a href="http://junior-entreprises.com/etre-junior-entrepreneur/">En savoir +</a></em>
      </p>
    </callout>
  </columns>
  <columns small="0" large="1"></columns>
</row>
