<row>
  <columns small="12" large="10" class="large-offset-1">
    <callout class="primary">
      <p>
        <b>Cette annonce est une proposition de poste en tant que consultant.</b><br/>
        Un consultant est appelé par Inspire pour réaliser des projets clients rémunérés. C’est un étudiant réalisateur. <em><a href="http://junior-entreprises.com/etre-junior-entrepreneur/">En savoir +</a></em>
      </p>
    </callout>
  </columns>
  <columns small="0" large="1"></columns>
</row>
